body{
 /* Location of the image */
  background-image: url(img/2.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  font-family:"Arial", Serif;
}

.navbar{
  background-color:#2980b9;
  overflow:hidden;
  height:50px;
}

	#calendar {
		max-width: 70%;
		margin: 0 auto;
	}


/*---------------tombil navigasi---------------------*/
.navbar a{
  float:left;
  display:block;
  padding:14px 16px;
}

.navbar ul{
  margin:0 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#F8A200;
  color:#000;
}
/*----------------------navigasi kiri -----------------*/
.side-nav{
  margin-top:8px;	
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#2c3e50;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}
/*  text di sebelah  */
.side-nav a{
  padding:10px 2px 10px 5px;
  text-decoration:none;
  font-size:20px;
  color:#fff;
  display:block;
  border-bottom: 1px solid #535353;
 	-webkit-transition: 0.2s;
	-moz-transition: 0.2;
	-o-transition: 0.2;
}
/* efek */
.side-nav a.selected
{
	background-color:#F8A200;
	color:#fff;
	padding-left: 40px;
}

.side-nav a:hover{
  	background-color:#F8A200;
	color:#fff;
	padding-left: 40px;
}

.side-nav .btn-close
{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}
/*----------------log out---------------------------*/
ul#dropdown li a
{
	float:right;
	background:#27ae60;
	color:#fff;
	text-decoration:none;
	display:block;
	height:50px;
	width:80px;
	text-align:center;
	padding:14px 16px;
}
ul#dropdown li a:hover
{
	background-color:#F8A200;
	color:#fff;
}

/*-------------------- halaman utama ------------------------*/

#main{
	
	flex-flow: row wrap;
	height:100%;

}

@media(max-width:568px){
  .navbar-nav{display:none}

}

@media screen and (max-height:568px){
  /*.open-slide{display:none}*/
}

/*-------------------------main content---------------------------------*/

.main-content 
{
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 0px;
	height: 100%;
}

.widget 
{
	flex-basis: 300px;
	flex-grow: 10;
	height: 100%;
	margin: 15px;
	border-radius: 6px;
	background-color: #fff;
	position: relative;
}
.widget .title 
{
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
	font-weight: 600;
}

.widget.tex
{
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-weight: 600px;
	padding:10px;
}
/*---------------------------Keterangan edit data----------------------------*/
.confirm2 {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
.confirm-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 40%;
	height:220px;
}
.exit {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.exit:hover,
.exit:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*-------------------------------imput data------------------------------ */

/*-------------------------------konfirmasi delet data------------------------*/


/*------------------------------------------bagian imput data----------------------------*/
.imput
{
	font-weight:bold;
	color:#6F6F6F;
	font-size:100%;
	width:240px;
	padding:1%;
}
.ImputButton
{
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 1px 0;
    border: none;
	border-radius:5px;
    cursor: pointer;
    width: 170px;
}

/*-----------------------------------calendar-----------------------------------*/
#calendar {
		max-width: 90%;
		margin: 0 auto;
	}

@media screen and (max-width:500px)
{
/*------------------------tabel phone-----------------*/
    .table, .table tr, .table td, tbody
	{
        display: block;
	}
	.table th 
	{
       display: none;
    }
	.table tr td 
	{
  	    position: relative;
        padding-left: 40%;
        text-align: left;
    }
	.table tr td::before 
	{
        content: attr(title) " : ";
        color:#000;
        left: 15px;
        position: absolute;
    }
	
	 .table tr {
        border: none;
    }
    
    .table tr:nth-child(1n+2){
        padding: 15px 0; 
    }
	tr:nth-child(odd){background-color: #F4f4f4}
	
/*---------------Keterangan edit data----------------------------*/

	.confirm-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 70%;
	height:156px;
	}
/*----------------konfirmasi edit data-------------------------*/

	.ask-content {
		background-color: #fefefe;
		margin: auto;
		padding: 10px;
		border: 1px solid #888;
		border-radius:10px;
		width: 80%;
		height:120px;
	}
/*------------------Bagian Imput data--------------------------*/
	.imput
	{
		text-align:center;
		font-weight:bold;
		color:#6F6F6F;
		font-size:100%;
		width:100%;
		padding:10px 1px;
	}
	.ImputButton
	{
		background-color: #4CAF50;
		color: white;
		padding: 10px 20px;
		margin: 1px 0;
		border: none;
		border-radius:5px;
		cursor: pointer;
		width: 100%;
	}
	
	
}