* {
    margin: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}


.sect {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}



.tesc {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}




.sect button{
    /*
    background-color: rgba(255,255,255,.5);

    */

    background-color: #396bbc; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height: 10%;
    border-radius:  10px;
    box-shadow: 1px;
}

.sect p{
    margin-top: 17%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 70px;
    text-align: center;
    color: gray;

}

.tesc button{
    /*
    background-color: rgba(255,255,255,.5);

    */

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height: 10%;
    border-radius:  10px;
    box-shadow: 1px;
}

.tesc p{
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 70px;
    text-align: center;
    color: gray;

}

.subSection {
    height: 50%;
    background-color: white;
 
}


.subSection img{
    margin-top: -70%;
    margin-left: 20%
}

.subSection h3{

    font-size: 0px;
 
}
.subSection h2{
  /*  margin-top: 5%;
    margin-left: 50%;
  */  
    font-size: 48px;
    font-weight: 300;
    color: #404040;
    margin: 10px 0;
    margin-left: 50%;
    margin-top: 5%;

}

.subSection p{
    margin-left: 50%;
}


.sectOne {
    background-image:url(images/mag1.jpg)

}


.sectTwo {
    background-image:url(images/mag2.jpg)
}



#head{
    width:auto;
    height:auto;
    background-color: red;
    font-size: 20px;
    font-family: "Century Gothic";
    color: white;
}

#line{
    width: 100%;
    height: 1%;
    margin-top: 10%
    color: white;
}

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,.5);
    text-align: right;
 }

nav img{
    margin-right: 90%;
}

nav ul ul {
    display: none;
    text-align: right;
}

    nav ul li:hover > ul {
        display: block;
    }


nav ul {
    background-color: rgba(0,0,0,0); 
    padding: 0 ;
 
    list-style: none;
    position: relative;
    display: inline-table;
    text-align: center;
}


}
    nav ul:after {
        content: ""; clear: both; display: block;
    }

    nav ul li {
        float: left;
    }
        nav ul li:hover {
            background: white;
        }
            nav ul li:hover a {
                color: blue;
            }
        
        nav ul li a {
            display: block; padding: 25px 40px;
            color: white; text-decoration: none;
        }

       
            
        
nav ul ul {
    background: black; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
    }
    nav ul ul li {
        float: none; 
        border-top: 1px solid white;
        border-bottom: 1px solid white; position: relative;
    }
        nav ul ul li a {
            padding: 15px 40px;
            color: red;
        }   
            nav ul ul li a:hover {
                background: #999966;
            }
        
    nav ul ul ul {
        position: absolute; left: 100%; top:0;
    }