body{
  font-family:"Arial", Serif;
  background-color:#f4f4f4;

}

.navbar{
  background-color:#2980b9;
  overflow:hidden;
  height:63px;
}
/*---------------tombil navigasi---------------------*/
.navbar a{
  float:left;
  display:block;
  padding:14px 16px;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#F8A200;
  color:#000;
}
/*----------------------navigasi kiri -----------------*/
.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#2c3e50;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}
/*  text di sebelah  */
.side-nav a{
  padding:10px 2px 10px 5px;
  text-decoration:none;
  font-size:20px;
  color:#fff;
  display:block;
  border-bottom: 1px solid #535353;
 	-webkit-transition: 0.2s;
	-moz-transition: 0.2;
	-o-transition: 0.2;
}
/* efek */
.side-nav a.selected
{
	background-color:#F8A200;
	color:#fff;
	padding-left: 40px;
}

.side-nav a:hover{
  	background-color:#F8A200;
	color:#fff;
	padding-left: 40px;
}

.side-nav .btn-close
{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
	
	flex-flow: row wrap;
}


@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}
/*-------------------------main content---------------------------------*/

.main-content 
{
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 0px;
	height: 100%;
}

.widget 
{
	flex-basis: 300px;
	flex-grow: 10;
	height: 300px;
	margin: 15px;
	border-radius: 6px;
	background-color: #fff;
	position: relative;
}
.widget .title 
{
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
	font-weight: 600;
}

.widget.tex
{
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-weight: 600px;
	padding:10px;
}

